.background-image{
  
   width: 100%; 

}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

 .first-font{
    margin-top: 120px;
 }
 .sec-font{
    margin-top: -40px;
 }
  .letter{
        position: relative;

            text-align: center;
            font-weight: bold;
            color: whitesmoke;
            padding: 25px 20px 10px 12px;
        
            font-size: 35px;
            background-image: url(images/donation13.jpg);
                background-repeat: no-repeat;
                height: 780px;
                
           
                
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

  }
   
   .para{
            text-align: center;
               
            
                font-size: 20px;
   }
   .center {
       text-align: center;
   }

   .button {
    padding:  23px 40px;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        background-image: linear-gradient(tomato, orange);
        cursor: pointer;
        display: block;
        margin-top: 80px;
        width: fit-content;
        font-weight: bold;
       
   }





   body{
            margin: 0;
                padding: 0;
                height: 100%;   
           
   }
  
      
     
    
   }
           .container {
               height: 100%;
               overflow-y: auto;
              
               scroll-behavior: smooth;
             
           }        

                  .next-sectoin{

                 
                    text-align: center;
            

                  }
                  .donate{
                                position: relative;

                            text-align: center;
                            font-weight: bold;
                        

                            font-size: 50px;
                          


                  }
                  .span{
                               font-size: 20px;     


                  }

                   .price {
                       display: flex;
                    justify-content:center;
                   }
        
                   .price h1 {
                       display: inline-block;
                       color: darkgray;
                       padding: 10px;
                       margin: 50px;
                   }

                 #color-price{

                        color: red;
                        border: 2px solid tomato;
                        padding: 13px 10px;
                 

                 }  
                 .amount{

                        text-align: center;
                        font-size: 23px;
                        color: gray ;
                        text-decoration: underline;
                        justify-content: space-between;

                 }
                 a{

                    padding: 23px 40px;
                        border: none;
                        border-radius: 8px;
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                        background-image: linear-gradient(tomato,
                            orange);
                        cursor: pointer;
                        display: block;
                        margin: 0 auto;
                        width: fit-content;
                        font-weight: bold;

                 }
                 
                    .third-section{
                                    text-align: center;
                                margin-top: 150px;
                              font-weight: bold;
                              font-size: 30px;
                 }
             
                 }